<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::site-head">
    <title> New Post</title>
</head>

<body>
	<header th:replace="layout::site-header"></header>	
	
	<h2>New Post</h2>

	<th:block th:if="${message}">
		<p th:text="${message}"></p>
	</th:block>
	
	<div class="container row">
		<form th:action="@{/create-post}" th:object="${post}" method="post" class="form col-md-5 col-md-offset-7">
			<div>
				<label>Author</label>
				<input  th:text="${post.author}"/>
			</div>
			<div class="form-group">
				<label>Title</label>
				<input th:text="${post.title}" />
				<div> </div>
			</div><!-- Post Title -->
			<div class="form-group">
				<label>Content</label>
				<textarea rows="5" cols="" th:text="${post.body}"></textarea>
				<div></div>
				<div></div>
			</div><!-- Post Content -->
			<div>
				<label>Category</label>
					<select th:field="*{category}">
						<option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
					</select>
			</div>
			<div class="form-group clearfix">
				<button type="submit" class="btn btn-primary float-right">Create Post</button>
			</div><!-- Submit Button -->

		</form>		
	</div>

	<footer th:replace="layout::site-footer"></footer>
</body>

</html>