<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout::site-head">
	<title>Welcome to Spring MVC Blog</title>
</head>
<body>
<header th:replace="layout::site-header"></header>

<h2>Delete Post</h2>

<div class="container row">
	<form th:action="@{/delete-post}" th:object="${post}" method="post" class="form col-md-5 col-md-offset-7">
		<div class="form-group">
			<label>Title</label>
			<input th:text="${post.id}"/>
			<input th:text="${post.author}"/>
			<input th:text="${post.title}"/>
			<div></div>
		</div><!-- Post Title -->
		<div class="form-group">
			<label>Content</label>
			<textarea rows="5" cols="" th:text="${post.body}"></textarea>
			<div></div>
		</div><!-- Post Content -->

		<div class="form-group clearfix">
			<button type="submit" class="btn btn-primary float-right">Delete Post</button>
		</div><!-- Submit Button -->

	</form>
</div>

<footer th:replace="layout::site-footer"></footer>
</body>
		</table>
		<div class="row">			
			<div class="col-md-12">				
				<ul class="pagination justify-content-center">
					 Send this if you want to let users to change page size property
					<li th:class="${post.number eq 0} ? 'page-item disabled' : 'page-item'">
			            <a class="page-link" th:if="${not post.first}" th:href="@{${'/posts'}(page=${post.number-1},size=${post.size})}">Previous</a>
			            <a class="page-link" th:if="${post.first}" href="#">Previous</a>
			        </li>
			        -->
			        
			        <li th:class="${post.number eq 0} ? 'page-item disabled' : 'page-item'">
			            <a class="page-link" th:if="${not post.first}" th:href="@{${'/posts'}(page=${post.number-1})}">&laquo;</a>
			            <a class="page-link" th:if="${post.first}" href="#">&laquo;</a>
			        </li>
			
			        <li th:each="pageNo : ${#numbers.sequence(0, posts.totalPages - 1)}" th:class="${post.number eq pageNo} ? 'page-item active' : 'page-item'">
			            <a class="page-link" th:if="${post.number  eq pageNo}" href="#">
			                <span th:text="${pageNo + 1}"></span>
			            </a>
			            <a class="page-link" th:if="${not (posts.number  eq pageNo)}" th:href="@{${'/posts'}(page=${pageNo})}">
			                <span th:text="${pageNo + 1}"></span>
			            </a>
			
			        </li>
			        <li th:class="${post.number + 1 ge post.totalPages} ? 'page-item disabled' : 'page-item'">
			            <a class="page-link" th:if="${not post.last}" th:href="@{${'/posts'}(page=${post.number+1})}">&raquo;</a>
			            <a class="page-link" th:if="${post.last}" href="#">&raquo;</a>
			        </li>
				</ul><!-- ./ pagination -->								
			</div><!-- ./ col-md-7 -->
		</div><!-- ./ row -->
	</div><!-- ./ container -->
<!-- The footer coming from layout -->	
<footer th:replace="layout::site-footer"></footer>		
</body>
</html>